#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(199, 229, 255);
}

.title{
  background-color: rgb(130, 186, 255);
  height: 4em;
}

.front-page{
  display: flex;
  margin: 3em;
}

.input-form{
  margin: 3em;
}

.input{
  margin: 1em;
}

.color-input{
  height: 3em;
  display: flex;
  width: 5em;
  margin: auto;
}

.line{
  margin: 1em;
  border-width: 0.01em;
  border-color: black;
  border-style: dashed;
}

.table-section{
  width: 100%;
}

.clothing-image{
  height: 5em;
  width: 5em;
}